@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-big {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.page-header {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
  text-decoration: none;
  min-width: 20px;
  min-height: 20px;
  padding: 20px 16px;
}

.navigation-list {
  display: flex;
  max-width: 650px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 170px;
}

.navigation-user {
  display: flex;
  margin: 0;
  max-width: 400px;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
}

.search {
  background-image: url(../images/icons/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 22px 12px;
}

.favorites {
  background-image: url(../images/icons/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
  padding: 22px 12px;
  position: relative;
}

.favorites::after {
  content: "12";
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;
  top: 11px;
  padding: 5px 0;
  box-sizing: border-box;
  right: 4px;
}

.button-here {
  display: block;
  width: 160px;
}

.header-logo {
  display: block;
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

.header-logo-link {
  display: block;
  position: absolute;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

.main-inner {
  background-color: #ffffff;
}

.welcome {
  width: 1200px;
  background-image: url("../images/index-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-title,
.welcome-slogan,
.heading {
  display: block;
  margin: 0 auto;
}

.heading {
  margin-bottom: 11px;
}

.welcome-slogan {
  margin-bottom: 54px;
}

.advantages-title-top,
.find-hotel-title,
.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.advantages-description-top,
.find-hotel-description,
.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}
.advantages-title-group {
  width: 652px;
  padding-top: 69px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.advantages-title-top {
  margin-bottom: 25px;
  text-transform: uppercase;
  width: 650px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  width: 175px;
  order: -2;
}

.advantages-item:nth-child(-n+5):before {
  content: "";
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 60px;
  margin: 0 auto;
  order: -1;
  margin-bottom: 30px;
}

.advantages-item-wide .advantages-item::before{
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-display: swap;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  color: #000000;
  flex-direction: column;
  padding: 103px 85px 121px 85px;
  box-sizing: border-box;
  align-items: center;
}

.advantages-item-wide {
  display: flex;
  width: 1200px;
  flex-direction: row;
}

.advantages-city,
.advantages-bridge {
  display: block;
  max-width: 100%;
  height: auto;
}

.advantages-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-blue {
  background-color: #82b3d3;
  color: #ffffff;
  padding: 92px 85px 111px 85px;
}

.advantages-list li:nth-last-child(-n+3){
  padding: 80px 85px;
}

.advantages-item-housing::before {
  content: "";
  background-image: url(..//images/icons/housing.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 75px;
  height: 72px;
  order: -2;
}

.advantages-item-food::before {
  content: "";
  background-image: url(..//images/icons/food.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 74px;
  height: 70px;
  order: -2;
}

.advantages-item-souvenirs::before {
  content: "";
  background-image: url(..//images/icons/souvenirs.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 64px;
  height: 76px;
  order: -2;
}

.find-hotel {
  width: 592px;
  margin: 0 auto;
  padding: 96px 0;
}

.find-hotel-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.find-hotel-description {
  margin-bottom: 54px;
}

.find-hotel-button {
  display: block;
  margin: 0 auto;
  width: 376px;
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-container {
  width: 684px;
  margin: 0 auto;
}

.subscribe-title-container {
  width: 475px;
  margin: 0 auto;
  color: #ffffff;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-description {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  justify-content: center;
}

.subscribe-email {
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  border: none;
}

.subscribe-button {
  width: 232px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.filter-wrapper {
  background-image: url(../images/filter-content-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #82b3d3;
}

.filter-content {
  color: #333333;
  width: 292px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  Line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadscrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
  min-width: 120px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadscrumbs-item {
  margin-right: 11px;
}

.breadscrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.filter-wrapper {
  padding: 70px;
  padding-top: 35px;
}

.breadscrumbs-link-home {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/home.svg");
  background-size: 100%;
}

.filter-button {
  background-color: #82b3d3;
  margin-bottom: 32px;
}

.filter-button-reset {
  background-color: transparent;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 250px;
}

.filter-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-right: auto;
  padding: 6px 0;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.price-value {
  margin-bottom: 36px;
}

.min-price,
.max-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  padding: 12px 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.min-price {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.max-price {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-left-column {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin-right: auto;
  box-sizing: content-box;
}

.filter-right-column {
  display: flex;
  max-width: 560px;
  margin-left: auto;
  flex-direction: row;
}

.filter-price {
  width: 291px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;

}

.catalog-filter-group {
  max-width: 250px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 70px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  padding-top: 56px;
}

.sort-catalog {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  width: 1060px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
  margin-bottom: 40px;
}

.product-card {
  max-width: 340px;
  padding: 20px;
}

.product-card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
  margin-bottom: 16px;
}

.product-card-image {
  display: block;
  order: -1;
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.product-card-hotel-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #333333;
  margin: 16px 0;
}

.product-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-button {
  display: block;
  width: 140px;
  box-sizing: border-box;
}

.product-card-submit {
  width: 140px;
  box-sizing: border-box;
  background-color: #82b3d3;
  border: none;
}

.product-card-select {
  background-color: #7db54f;
}

.product-button-rating {
  display: block;
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 400;
  width: 140px;
  margin-left: auto;
  cursor: default;
}

.pagination {
  display: flex;
  width: 1060px;
  list-style: none;
  margin: 0 auto 0 70px;
  padding: 0;
  padding-bottom: 60px;
  padding-top: 40px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  min-width: 60px;
  min-height: 60px;
  box-sizing: border-box;
  padding: 12px 0;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.catalog-subscribe {
  background-color: #ffffff;
  color: #FFFFFF;
  background-image: none;
}

.subscribe-title-inner {
  color: #000000;
}

.subscribe-description-inner {
  color: #333333;
}

.page-footer {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-contacts {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.contacts-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
  max-width: 225px;
}

.footer-social-item {
  min-width: 48px;
  min-height: 48px;
  margin-bottom: 8px;
}

.social-button {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 12px 14px;
}

.contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 720px;
  text-align: center;
  padding: 5px 0;
}

.contacts-footer-logo {
  display: block;
  margin-left: auto;
  padding: 8px 0;
}
