@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.button-big {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  text-transform: uppercase;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
}

.page-header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
}

.header-logo {
  display: block;

  width: 140px;
  margin-right: 28px;
}


.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

.main-inner {
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  background-image: url("../images/index-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;

}

.welcome-title,
.welcome-slogan,
.heading {
  display: block;
  margin: 0 auto;
}

.advantages-title-top,
.find-hotel-title,
.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.advantages-description-top,
.find-hotel-description,
.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.advantages-item {
  width: 400px;
  color: #000000;
}

.advantages-item-wide {
  display: flex;
  width: 1200px;
  flex-direction: row;
}

.advantages-city,
.advantages-bridge {
  display: block;
}

.advantages-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-blue {
  background-color: #82b3d3;
  color: #ffffff;
}

.find-hotel {
  width: 592px;
  margin: 0 auto;
}

.find-hotel-button {
  display: block;
  margin: 0 auto;
  width: 376px;
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #82B3D3;
}

.subscribe-container {
  width: 684px;
  margin: 0 auto;
}

.subscribe-title-container {
  width: 475px;
  margin: 0 auto;
}

.subscribe-title,
.subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.subscribe-email {
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
}

.subscribe-button {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.filter-wrapper {
  background-image: url(../images/filter-content-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #82b3d3;
}

.filter-content {
  color: #333333;
  width: 292px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  Line-height: 78px;
  margin: 0;
}

.breadscrumbs {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 114px;
  list-style: none;
}

.breadscrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.filter-wrapper {
  padding: 70px;
  padding-top: 35px;
}

.breadscrumbs-link-home {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/home.svg");
  background-size: 100%;
}

.filter-button {
  background-color: #82b3d3;
}

.filter-button-reset {
  background-color: transparent;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
}

.filter-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-right: auto;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.min-price,
.max-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  padding: 0;
  margin: 0;
  border: none;
}

.filter-left-column {
  display: flex;
  width: 371px;
  margin-right: auto;
}

.filter-right-column {
  display: flex;
  width: 560px;
  margin-left: auto;
  flex-direction: row;
}

.filter-price {
  width: 291px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;

}

.catalog-filter-group {
  width: 150px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 70px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
}

.filter-buttons {
  width: 191px;
}

.sort-catalog {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}



.products-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.product-card {
  margin-right: 20px;
  padding: 20px;
}

.product-card:last-child {
  margin-right: 0;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-hotel-price {
  color: #333333;
}

.product-card-submit {
  background-color: #82b3d3;
}

.product-card-select {
  background-color: #7db54f;
}

.product-button-rating {
  background-color: #f2f2f2;
  color: #333333;
  font-weight: 400;
}

.pagination {
  display: flex;
  flex-direction: row;
  width: 400px;
  list-style: none;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  font-size: 22px;
  line-height: 26px;
}

.catalog-subscribe {
  background-color: #ffffff;
  color: #FFFFFF;
  background-image: none;
}

.subscribe-title-inner {
  color: #000000;
}

.subscribe-description-inner {
  color: #333333;
}

.page-footer {
  background-color: #ffffff;
}

.footer-contacts {
  display: flex;
  width: 1048px;
  margin: 0 auto;
  flex-direction: row;
}

.contacts-social-list {
  display: flex;
  margin-right: auto;
  list-style: none;
  width: 142px;
}

.social-button {
  text-decoration: none;
  color: #000000;
}

.contacts-phone {
  display: block;
  font-style: Regular;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 720px;
  text-align: center;
}

.contacts-footer-logo {
  margin-left: auto;
}
